*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    padding-top: 90px;
}


.navbar{
    
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.font{
    font-family: poppins;
}

.logo{
    
    width: 15%;
    align-items: center;
}

.nav{
    
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.navlist{
    
    width:70% ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
   color: black;
   font-size: 20px;
   
   
}

.login{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    align-items: center;
}

.login a{
    text-decoration: none;
    color: black;
}
.nav-button{
    width: 5%;
    padding: 5px;
    text-align: center;
    display: none;
    
}

.nav-button button {
    font-size: 20px;
    color: black;
    background-color: transparent;
    border: none;
}

.slider-1{
    
}

.container{
    max-width: 1320px;
    margin: auto;
    
}

.main{
    border: 1px solid black;
    max-width: 1320px;
    margin: auto;
    padding: 20px;
    
}

.slick-dots li button::before {
    font-size: 30px !important ;
}

.content{
    
    background-color: #f9fafa;
    width: 100%;
    padding: 70px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.info{
    
    width: 50%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info h1{
    font-weight: 800;
    padding-left: 20%;
    padding-top: 20%;
}

.info p{
    padding-left: 20%;
    font-size: 18px;
    line-height: 20px;
    padding-top: 2%;
}

.b-class{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
.b1{
    padding: 10px 25px;  
    font-size: 15px;
    color: white;
    background-color: orange;
    border: none;
    width: 160px;
    text-align: center;
    margin-bottom: 5px;
}
.b2{
    padding: 10px 25px;  
    font-size: 15px;
   background-color: rgba(57, 146, 146, 0.97);
   border: none;
   color: white;
   width: 160px;
   text-align: center;
   margin-bottom: 5px;
   
}

.b1:hover{
    background-color: transparent;
    color:  orange;
    border: 1px solid orange;
}
.b2:hover{
    background-color: transparent;
    border: 1px solid   rgba(57, 146, 146, 0.97);
    color:    rgba(57, 146, 146, 0.97);
}


.image{
    
    width: 50%;
    /* height: 400px; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.image img{
    width:100%;
    /* height: 350px; */
    padding-top: 5%;
    
}


.our-furniture{
    
   max-width: 1320px;
    margin: auto;
}

.box{
    
    width: 100%;
    padding: 10px;
   
}
.box h1{
    padding-left: 8%;
    font-size: 30px;
}
.box p{
    padding-left: 8%;
}
.boxes{
    width: 100%;
    margin: auto;
    padding: 10px;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.box-1{
    width: 400px;
    height: 500px;
    
    padding: 5px;
    background-color: #f9fafa;
}
.box-img{
    width: 100%; 
    height: 350px;
   padding: 40px;
    
}
.box-img img{
    width: 100%;
    height: 100%;
    
}

.box-info{
    width: 100%; 
    height: 140px;
    
}


.box-info p{
    padding-top: 30px;
    font-size: 18px;
}
.box-price{
    
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.about-us{
    max-width: 1320px;

    margin: auto;
}

.about{
    width: 100%;
  
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f9fafa;
}

.about-img{
    
    padding: 10px;
    width: 50%;
    height: 350px;
}
 .about-img img{
    width: 100%;
    height: 100%;
    
 }



.about-info{
    width: 50%;
    padding: 10px;
}

.about-info h1{
    padding-top: 70px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 30px;
}

.about-info p{
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 25px;
    font-size: 20px;
}
.about-info button{
  background-color: rgb(57, 138, 138); 
  border: none;
  color: white; 
  margin-left: 20px;
  padding: 10px 25px;  
  text-align: center;
  width: 160px;
  
}
.about-info button:hover{
    background-color: transparent;
    color:  rgb(57, 138, 138);
    border:1px solid rgb(57, 138, 138);
}


.latest-blog{
   
    max-width: 1320px;
    margin: auto;
}

.blog{
    
    width: 100%;
    padding: 10px;
    
}
.blog h1{
    text-align: center;
}

.blogs{
    width: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
}

.blog1{
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
}
.blog-img{
    
    height: 220px;

}
.blog-img img{
    width: 100%;
    height: 100%;
}

.blog-info{
   
    padding: 20px;
}
.blog-info h1{
    line-height: 25px;
    text-align: left;
    
}
.blog-info p{
    line-height: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.blog-info button{
    background-color: rgb(57, 138, 138); 
    border: none;
    color: white; 
    padding: 10px 25px;  
    text-align: center;
    width: 180px;
}
.blog-info button:hover{
    background-color: transparent;
    color:  rgb(57, 138, 138);
    border:1px solid rgb(57, 138, 138);
}


.testimonial{
    max-width: 1320px;
    margin: auto;
}

.testi{
    width: 100%;
    padding: 10px;
}

.testi-1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}

.t1{
    width: 20%;
    
    padding: 10px;
}
.t1 img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid  rgb(57, 138, 138);
}


.t2{
    width: 75%;
    padding: 20px;
    padding-top: 30px;
   
}
.t2 i{
    padding-top: 10px;
    padding-bottom: 10px;
}
.t2 h3{
    color:  rgb(57, 138, 138);
}

.t2 p{
    line-height: 25px;
    padding-top: 15px;
}


.contact-us{
    max-width: 1320px;
    margin: auto;
    background-color: #f9fafa;

}
.contact{
    width: 100%;
    
    padding: 10px;

}

.contact1{
    width: 90%;
    padding: 10px;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form{
    width: 50%;
    
    padding: 10px;
}

.form h1{
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    padding-left: 7px;

}

.input{
   
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.input-1{
   
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.input input{
    width:100%;
    height: 60px;
    font-size: 20px;
    color: black;
    padding: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
.input button{
    background-color: rgb(57, 138, 138); 
    border: none;
    color: white; 
    padding: 15px 25px;  
    text-align: center;
    width: 180px;
    font-size: 20px;
}
.input button:hover{
    background-color: transparent;
    color:  rgb(57, 138, 138);
    border:1px solid rgb(57, 138, 138);
}

  .input-1 input{
    width: 100%;
    height:100px ;
    font-size: 20px;
    color: black;
    padding: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

.map{
    width: 50%;
   
    padding: 10px;
}

.map iframe{
    width: 100%;
    height: 100%;
}



.main-footer{
   
    max-width: 1320px;
    margin: auto;

}

.color{
    color: white;
}

.footer{
    width: 100%;
   
    padding: 10px;
    background-color: #191e1f;
}

.footer1{
    
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
.f1{
    
    width: 300px;
    padding: 10px;
    text-align: center;

}

.f1:hover{
    color: orange;
} 


.footer2{
    width: 100%;
  
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.f2{
   
    width: 400px;
    padding: 10px;
    display: flex;
    
}
.list{
   
    
    width: 200px;
}

.list ul{
    list-style-type: none;
    padding-top: 20px;
}

.list ul li:hover{
    color: orange;
} 
.list1{
    
    width: 200px;
}

.list1 ul{
    list-style-type: none;
    padding-top: 35px;
}
.list1 ul li:hover{
    color: orange;
} 
.f3{

    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
.ig-img{

    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img1{
    
    width: 70px;
    background-color: white;
    height:70px ;
}
.img1 img{
    width: 100%;
    height: 100%;
    
}

.f4{
    
    width: 400px;
    padding: 10px;
}

.sign-up{
    
    width: 100%;
    padding-top: 15px;
}

.sign-up input{
    padding: 10px;
    width: 90%;

}

.sign-up button{
    width: 150px;
    background-color: rgb(57, 138, 138);
    padding: 10px;
    font-size: 20px;
    color: white;
}
.sign-up button:hover{
    background-color: transparent;
    color:  rgb(57, 138, 138);
    border:1px solid rgb(57, 138, 138);
}


.sign-up1{
   
    width: 90%;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.sign-up1 i{
    border: 1px solid rgb(57, 138, 138);
    padding: 10px;
    color: rgb(57, 138, 138);
    border-radius: 8px;
}

.sign-up1 i:hover{
    color: orange;
    border: 1px solid orange;
} 